extends signupNavBar

block content
  h1 Create New Account
  form(method='POST', action='/signup')
    #form-group
      label UserName:
      input.form-control(name='username' ,type='text' )
    #form-group
      label Email:
      input.form-control(name='email', type='text' )
    #form-group
      label Password:
      input.form-control(name='password' ,type='password' )
    #form-group
      label Confirm:
      input.form-control(name='password2' ,type='password' )
    br
    input.btn.btn-primary(type='submit',value='Sign up')
    br
    br
    label #{signup_state || ""}